body {
	background-color: #c3e8f0;
	font-family: 'Patua One', cursive;
	color: #a58a60;
}

@font-face {
    font-family: coppergothic;
    src: url('Copperplate Gothic Regular.otf');
}

#logo {
	width: 40%;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.linkbox {
	width: 10%;
	height: 30px;
	border: 3px solid white;
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Fredoka One', cursive;
	font-size: 16px;
	color: white;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.linkboxtext {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
}

#links {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
}

.linkbox a {
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.linkbox a:hover {
	letter-spacing: 1.5px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.linkbox:hover {
	cursor: pointer;
	letter-spacing: 1.5px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.content {
	width: 67%;
	display: flex;
	flex-direction: vertical;
	justify-content: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*#classinfo {
	border-top: 4px solid black;
	margin: 20px 40px 40px 40px;
}*/

#faq .question {
	font-family: 'Patua One', cursive;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 15px 0px 15px 15px;
}

#faq .answer {
	font-family: 'Patua One', cursive;
	font-size: 14px;
	margin: 0px 0px 0px 30px;
	line-height: 18px;
}

#faq .answer a {
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#faq .answer a:hover {
	color: #44663c;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#welcome {
	font-family: 'Patua One', cursive;
	font-size: 26px;
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;

	/* text-transform: uppercase; */
}

#logistics {
	font-family: 'Patua One', cursive;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	margin-top: 15px;
	text-transform: uppercase;
}

#intro {
	margin-top: 30px;
	font-family: 'Patua One', cursive;
	font-size: 14px;
	line-height: 18px;
}

#intro a {
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#intro a:hover {
	letter-spacing: 1px;
	color: #44663c;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

h1 {
	font-family: 'Patua One', cursive;
	font-size: 45px;
	color: rgb(198, 173, 119);
	text-shadow: -3px 4px white;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 3px;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

h1:hover {
	text-shadow: -3px 4px white;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.header {
	width: 65%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: -20px;
	margin-bottom: -20px;
}

.cerealborder img {
    max-width: 1000px;
    margin-top: 20px;
}

.cerealborder {
    margin: auto;
    text-align: center;
}

#documentlinks {
	display: flex;
	flex-direction: horizontal;
	justify-content: center;
	flex-wrap: wrap;
}

.documentlink a{
	margin: 0px 7px;
	text-transform: uppercase;
	color: black;
	letter-spacing: 1px;
	font-size: 15px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
	  text-decoration: none;
}

.documentlink a:hover {
	/* letter-spacing: 1.5px; */
	font-size: 17px;
	color: #d8504c;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#assignments, #schedule, #labs {
	display: flex;
	justify-content: center;
}


/* #assignmentstable, #labstable {
	width: 100%;
	justify-content: center;
} */

table a {
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

table a:hover {
	color: #44663c;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#schedulewrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#scheduletable, #guestspeakertable {
	width: 100%;
}

th {
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px;
	letter-spacing: 1px;
}

td {
	padding: 5px 10px;
	font-size: 14px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.date, .time, .location, .lab, .sign-up, .handout, .slides {
	text-align: center;
}

/* .tabox {
	width: 340px;
	height: 400px;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
} */

.tabox {
    height: 355px;
    width: 242px;
	margin: 10px;
	text-align: center;
    margin-bottom: 0;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.tacereal img {
    margin: 0 !important;
    width: 242px !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.tainfo img {
    width: 150px;
    margin: 20px;
}

.shelfwrapper img {
    max-width: 800px;
}


#emails {
	text-align: center;
}

#email {
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
}

#emaildescription {
	font-size: 12px;
	letter-spacing: 1px;
}

#tawrapper, #htawrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0px;

}

#professorwrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px 0px;

}

.name {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

.login {
	font-size: 12px;
}

.bio {
	margin: 20px 20px 0px 20px;
	font-size: 13px;
	line-height: 18px;
}

/* .tabox img {
	margin: 20px;
	width: 220px;
} */

.assignment-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.assignment-card {
	height: 240px;
	width: 200px;
	background-color: #ffffff;
	box-shadow: 6px 6px rgba(32, 58, 26, 0.1);
	/* border: 2px solid #000; */
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.assignment-title {
	width: 100%;
	height: 48px;
	text-align: center;
	margin-top: 0px;
	align-content: center;
    justify-content: center;
}

#handout {
	font-weight: bold;
}

.title-text {
	font-size: 19px;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase; 
    /* font-family: coppergothic; */
    color: white;
	text-align: center;
}

.assignment-details {
	width: 70%;
	margin: auto;
	margin-top: 15px;
	font-family: 'Fredoka One', cursive;
	color: rgb(198, 173, 119);
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

.assignment-details a{
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.assignment-details a:hover {
	letter-spacing: 1.5px;
	color: #44663c;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.columnwrapper {
	display: flex;
	flex-direction: row;
}

.column1 {
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 50%;
}

.column2 {
	display: flex;
	flex-direction: column;
	text-align: right;
	width: 50%;
}

#jeffbarwrapper, #htabarwrapper, #utabarwrapper {
	display: flex;
	flex-direction: row;
	justify-content: left;
	width: 100%;
}

.progress-bar-1, .progress-bar-2 {
	margin-top: 10px;
  	height: 10px;
  	background-image: url("track.png");
  	background-repeat: repeat-x;
  	width: 0%;
}

.railroadname {
	padding: 2px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-right: 10px;
}

.shelfname {
	font-size: 22px;
}

#profname {
	width: 280px;
	text-align: center;
}

#htaname {
	width: 140px;
	text-align: center;
}

#utaname {
	width: 140px;
	text-align: center;
}

.railroadimg {
	margin-left: 8px;
	margin-right: 8px;
	width: 30px;
	height: 30px;
}

#calendarwrapper {
	margin-bottom: 40px;
}

#apply {
	/*animation-name: example;*/
	color: red;
	font-size: 15px;
	font-weight: bold;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#apply a {
	color: black;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

#apply a:hover {
	color: #44663c;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	-o-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

/*@keyframes example {
    0%  {color:black;}
    50% {color: red;}
    100% {color:black;}
}*/


@media only screen and (max-width: 1200px) {
    .linkbox {
        font-size: 12px;
    }

    #documentlinks {
    	flex-direction: column;
    	justify-content: center;
    }
    .documentlink {
    	margin-top: 10px;
    	margin-bottom: 10px;
    	text-align: center;
    }

    #calendar {
    	height: 400px;
    }

}

@media only screen and (max-width: 1000px) {
    .linkbox {
        font-size: 10px;
    }

}

@media only screen and (max-width: 800px) {
    .linkbox {
        font-size: 9px;
    }


}
@media only screen and (min-width: 300px) and (max-width: 800px) {
	.content {
		width: 80%;
	}

    .linkbox {
        display: none;
    }

    .header {
    	width: 100%;
    }

    #labstable {
    	width: 100%;
    }

    .documentlink a {
    	font-size: 18px;
    }

    .tainfo img {
        width: 80px;
    }

    .tacereal img {
        width: 160px !important;
    }
    .tabox {
        width: 160px;
        height: 235px;
    }

    .shelfwrapper {
        width: 90%;
    }

    .shelfwrapper img {
        width: 100%;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 700px) {
	.content {
		width: 80%;
	}

    .linkbox {
        display: none;
    }

    .header {
    	width: 100%;
    }

    #labstable {
    	width: 100%;
    }

    .documentlink a {
    	font-size: 24px;
    }
}
